@model IRunViewModel
@{
    ViewBag.Title = "Run";
}
@section Scripts
{
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script type="text/javascript" src="@Model.SignalRUrl/js"></script>
    <script type="text/javascript">
        var filename = "@Model.FileName";

        $(document).ready(function () {
            var progress = new Syringe.Web.Progress("@Model.SignalRUrl");
            progress.monitor(@Model.CurrentTaskId);
        });
    </script>
}
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<a class="btn btn-primary pull-right" target="_blank" href="@Url.Action("View", "TestFile", new {filename = Model.FileName})">View Tests</a>
			@using (Html.BeginForm("Run", "Home"))
			{
				@Html.HiddenFor(x => x.Environment)
				<button title="Run" class="btn btn-primary pull-right" type="submit" name="filename" value="@Model.FileName"> Run again </button>
			}
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<h2>Running @Model.FileName</h2>
		</div>
	</div>
    <div class="row">
        <div class="col-xs-12">
            <div class="progress">
                <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" style="width: 0">
                    <span class="sr-only">0% Complete</span>
                </div>
            </div>

            <span class="label label-material-indigo">@Model.Environment</span>
            <div id="running-items">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    @foreach (RunningTestViewModel test in Model.Tests)
                    {
                        <div class="panel" id="test-@test.Position">
                            <div class="panel-heading" role="tab" id="heading@(test.Position)">
                                <h3 class="panel-title">
                                    <a role="button" data-toggle="collapse" href="#collapse@(test.Position)" aria-expanded="false" aria-controls="collapse@(test.Position)">
                                        @test.Description
                                    </a>
                                </h3>
                            </div>
                            <div id="collapse@(test.Position)" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading@(test.Position)">
                                <div class="panel-body">
                                    <div>
                                        <div class="test-result-url"></div>
                                    </div>
	                                <div class="test-result-errors">
										<br />
		                                <div class="hidden test-result-exception">
			                                <h4>Error message</h4>
			                                <pre></pre>
		                                </div>
	                                </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
